.bota_career_bg {
  position: relative;
}
.bota_career_box {
    background: rgba(0, 0, 0, 0.28);
    z-index: 1;
    position: absolute;
    width: 100%;
    &::after{
      content: "";
      clear: both;
      display: block;
    }
    .bota_career_toolbar .row {
        align-items: center;
    }
    .bota_carrer_category {
      > ul {
      display: flex;
  
      > li {
        position: relative;
        > a {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 19px;
          color: #fff;
          padding: 22px 0;
          display: block;
          position: relative;
  
          &:before {
            content: "";
            background: #FFFFFF;
            border-radius: 5px 5px 0px 0px;
            height: 3px;
            width: 100%;
            position: absolute;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
          }
        }
  
        + li {
          margin-left: 32px;
        }
  
        &:hover > a:before {
          opacity: 1;
          visibility: visible;
        }
        > ul {
          overflow: hidden;
          display: block;
          max-height: 0px;
          max-width: 0px;
          opacity: 0;
          -webkit-transform: perspective(600px) rotateX(-90deg);
          -moz-transform: perspective(600px) rotateX(-90deg);
          -ms-transform: perspective(600px) rotateX(-90deg);
          -o-transform: perspective(600px) rotateX(-90deg);
          transform: perspective(600px) rotateX(-90deg);
          -webkit-transition: -webkit-transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
          -o-transition: -o-transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
          transition: transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
          position: absolute;
          top: 99%;
          left: 0px;
          width: 220px;
          padding: 0;
          background-color: #fff;
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);
          -webkit-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          z-index: 99;
        
          > li {
            position: relative;
            margin: 0 7px;
        
            > a {
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              display: block;
              padding: 15px 3px;
              color: #323c42;
              position: relative;
              border-bottom: 0.5px solid #D9D9D9;
              text-align: left;
              padding-right: 15px;
              > svg {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                width: 14px;
              }
            }
            &:hover > a{
              color: #02897A;
            }
            
          }
        }
        &:hover>ul {
          overflow: visible;
          max-height: 3000px;
          max-width: 3000px;
          opacity: 1;
          -webkit-transform: perspective(600px) rotateX(
      0deg);
          -moz-transform: perspective(600px) rotateX(0deg);
          -ms-transform: perspective(600px) rotateX(0deg);
          -o-transform: perspective(600px) rotateX(0deg);
          transform: perspective(600px) rotateX(
      0deg);
          -webkit-transition: -webkit-transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
          -o-transition: -o-transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
          transition: transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
      }
      > ul > li {
        > ul {
          display: none;
          left: 100%;
          top: 0px;
          position: absolute;
          width: 100%;
          background: #fff;
      
          > li > a {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            display: block;
            padding: 15px 3px;
            color: #323c42;
            position: relative;
            border-bottom: 0.5px solid #D9D9D9;
            text-align: left;
          }
        }
      
        &:hover ul {
          display: block;
        }
      
        > ul > li {
          margin: 0 7px;
      
          &:hover > a {
            color: #02897A;
          }
        }
      }
      }
    }
    
  }
}

  
  .bota_career_search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .bota_career_search_btn {
        position: relative;
        padding-right: 10px;
        cursor: pointer;
    }
    input {
      background: transparent !important;
      border: none;
      border-bottom: 1px solid #fff !important;
      outline: none;
      color: #fff;
      font-size: 14px;
      font-style: normal;
        font-weight: normal;
      &::-webkit-input-placeholder {
        color: #fff;
    }
    }
  }
  .slick_career {
    position: relative;
  }
  
  .bota_career_contents {
    .bota_career_its{
      position: relative;
      .bota_career_its_img {
        height: 645px;
        overflow: hidden;
        position: relative;
      }
      .bota_career_its_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    } 
  }
  
  .bota_career_toolbar {
    position: relative;
    z-index: 111;
  }
  .bota_career_conts {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    left: 0;
    right: 0;
  
    .bota_career_names {
      font-style: normal;
      font-weight: bold;
      font-size: 35px;
      color: #fff;
      margin-bottom: 24px;
      line-height: 47px;
      max-width: 715px;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      overflow: hidden;
    }
  
    .bota_career_dess {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
      margin-bottom: 20px;
      max-width: 521px;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      overflow: hidden;
    }
  
    .bota_career_links{
      background: #FFFFFF;
      border-radius: 3px;
      display: inline-block;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #22343D;
      padding: 4px 9px;
    }
  }
  .bota_career_contents .custom_paging {
    position: absolute;
    bottom: 150px;
    left: 10.5%;
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #fff;
  
    li {
      width: 100px;
      left: 30px;
      cursor: pointer;
      .count_number {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
      span {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.5);
      }

  
      &:before {
        content: "";
        width: 100px;
        height: 2px;
        background: #FFFFFF;
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
      }
  
      &.slick-active {
        &:before {
          background: #02897A;
        }
      }
  
      &.slick-active .count_number {
        display: block;
      }
    
      .count_number {
        display: none;
      }
      &:nth-child(2):before {
        left: 130px;
      }
    
      &:nth-child(3):before {
        left: 230px;
      }
      &:nth-child(4):before {
        left: 330px;
      }
      &:nth-child(5):before {
        left: 430px;
      }
      &:nth-child(6):before {
        left: 530px;
      }
      &:nth-child(7):before {
        left: 630px;
      }
      &:nth-child(8):before {
        left: 730px;
      }
      &:nth-child(9):before {
        left: 830px;
      }
      &:nth-child(10):before {
        left: 930px;
      }
    }
  }
  .bota_career_hegith {
    background: #00453E;
    height: 99px;
}
.bota_career_bottom_it {
  position: relative;

  .bota_career_bottom_img {
    position: relative;
    height: 190px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    }
  }
  &:hover img{
    -webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
  }

  .bota_career_bottom_cont {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    .bota_career_bottom_name {
      padding: 50px 11px;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      color: #fff;
      line-height: 28.8px;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      overflow: hidden;
    }

    .bota_career_bottom_toolbar {
      position: absolute;
      bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      left: 0;
      right: 0;
      padding: 0 10px;
      color: #fff;
      .bota_career_bottom_col {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 20px;
      }
    }
  }
}
.bota_career_bottom {
  margin-top: -190px;
}
.bota_office_skills {
  padding: 50px 0 30px;
  .bota_office_skills_its + .bota_office_skills_its {
      margin-top: 30px;
  }
}

.bota_office_skills_title h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 26px;
  color: #000;
  margin-bottom: 31px;
}

.bota_office_skills_it {
  position: relative;

  a:before {
    content: "";
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(149, 149, 149, 0.7) 0.01%, rgba(0, 0, 0, 0.7) 0.02%, rgba(73, 73, 73, 0.659916) 51.04%, rgba(255, 255, 255, 0.56) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
  }

  .bota_office_skills_it_img {
    height: 572px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
    }
  }


  .bota_office_skills_it_cont {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px 48px 35px;
  
    .bota_office_skills_it_name {
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      color: #fff;
      line-height: 44.2px;
      -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          display: -webkit-box;
          overflow: hidden;
    }
  }
  
  .bota_office_skills_it_des {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #fff;
    margin-top: 40px;
    -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          display: -webkit-box;
          overflow: hidden;
  }
  
  .bota_office_skills_it_cont .bota_office_skills_it_tool {
    position: absolute;
    bottom: 35px;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 13px;
  
    svg {
      margin-right: 5px;
    }
  }
  .bota_office_skills_it_anthor {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #fff;
    margin-bottom: 26px;
}
}
.bota_office_skills_small {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;

  .bota_office_skills_small_img {
    position: relative;
    height: 159px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
    }
  }
  &:hover img{
    -webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
  }

  .bota_office_skills_small_conx {
    position: relative;
    padding: 15px;

    .bota_office_skills_small_name {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 10px;
      -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          overflow: hidden;
    }

    .bota_office_skills_small_tool {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      color: #475E69;
    }

    .bota_office_skills_small_name {
      a {
        color: #22343D;
      }

      &:hover a {
        color: #02897A;
      }
    }
  }
}
.bota_banner_career img {margin: auto;display: block;}
.bota_carrer_details {
  position: relative;

  .bota_career_box {
    background: #02897A;
    background-blend-mode: multiply;
    position: relative;
  }
}
.bota_breadcrumb_main {
  .breadcrumb {
    background: transparent;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #E0E0E0;
    border-radius: unset;

    li {
      a {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 19px;
        color: #22343D;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 22px 11px  22px 22px;
        display: block;
      }

      &:first-child a {
        padding-left: 0;
      }

      + li:before {
        content: "";
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 50%;
        background-size: 10px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' width='512' height='512' x='0' y='0' viewBox='0 0 792.033 792.033' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='_x38_'%3E%3Cg%3E%3Cpath d='M617.858,370.896L221.513,9.705c-13.006-12.94-34.099-12.94-47.105,0c-13.006,12.939-13.006,33.934,0,46.874 l372.447,339.438L174.441,735.454c-13.006,12.94-13.006,33.935,0,46.874s34.099,12.939,47.104,0l396.346-361.191 c6.932-6.898,9.904-16.043,9.441-25.087C627.763,386.972,624.792,377.828,617.858,370.896z' fill='%2322343D' data-original='%23000000' style='' class=''/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        left: 0;
        -webkit-transition: all .25s ease;
        transition: all .25s ease;
        position: absolute;
        width: 15px;
        height: 14.69px;
        top: 50%;
        transform: translateY(-50%);
      }

      position: relative;
    }
  }

  position: relative;
  margin-top: 8px;
  margin-bottom: 30px;
}
.bota_career_page {
  position: relative;
}

.bota_career_page_title h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49.4px;
  color: #22343D;
}

.bota_career_page .container {
  max-width: 854px;
}

.bota_career_page_title {
  margin-bottom: 18px;
}

.bota_career_page_tool {
  position: relative;
  margin-bottom: 35px;

  .bota_career_page_time {
    font-size: 13px;
    line-height: 21px;
    color: #22343D;

    span + span {
      margin-left: 25px;

      svg {
        margin-right: 5px;
      }
    }
  }

  .bota_career_page_view {
    text-align: right;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #22343D;
  }
}
.bota_career_page_des {
  position: relative;
  .bota_career_page_des_img {
    margin: 47px auto;
    img {
      filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.2));
    }
  } 
}
.bota_career_page_des {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  text-align: justify;

  h3, h2, h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
  }

  ul {
    li {
      list-style: inside;
    }

    margin-bottom: 16px;
  }
}

.bota_career_page_des_contai {
  max-width: 750px;
  margin: auto;
}

.bota_career_page_des_border_left {
  margin-bottom: 16px;
  position: relative;
  padding-left: 16px;

  &:before {
    content: "";
    height: 100%;
    width: 3px;
    background: #02897A;
    position: absolute;
    left: 0;
  }
}

.bota_career_page_des_imgs {
  filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.2));
  text-align: center;
  background: #FAFAFA;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 30px;

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #22343D;
    padding: 8px 0;
  }
}
.bota_details_career_share {
  border-top: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
  margin: 40px auto 50px;
  padding: 20px 0;
}
.bota_details_career_tags {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #475E69;
  line-height: 26px;
  display: inline-flex;
  margin-right: 15px;
}

.bota_details_career_share_col a {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #475E69;
  display: inline-block;
  background: #E0E0E0;
  padding: 0 15px;
  transition: unset;

  &:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #E0E0E0;
    border-width: 10px;
  }

  + a {
    margin-left: 31px;
  }
}
.bota_details_career_shares {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  

  ul {
    display: flex;
  }

  label {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #475E69;
    margin-right: 17px;
  }

  ul li + li {
    margin-left: 12px;
  }
}
.bota_details_career_related_title h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 26px;
  margin: 0;
}

.bota_details_career_related {
  position: relative;
  margin-bottom: 72px;
}

.bota_details_career_related_title {
  margin-bottom: 30px;
}