.bota_login_background{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../imgs/bg-login.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.bota_login_body_box {
  display: table-cell;
  vertical-align: middle;
}
.bota_login_body{
  padding: 30px 72px;
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
    .bota_login_logo {
        margin-bottom: 15px;
        position: absolute;
    }
    .bota_login_bg {
        background: #FFFFFF;
        box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        max-width: 484px;
        margin: auto;
        padding: 49px 36px;
        .bota_forgot_bg{
          h1,.bota_login_des {
            text-align: center;
          }
          h1{
            margin-bottom: 15px;
          }
              .bota_login_des {
                font-size: 16px;
                line-height: 24px;
            }
            #customer_login .form-group {
              margin-bottom: 30px;
          }
        }
      
        h1 {
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 28px;
          color: #22343D;
          margin: 0;
          margin-bottom: 5px;
        }

      }
      
      .bota_login_des {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #979797;
        margin-bottom: 30px;
      
        a {
          color: #02897A;
          &:hover{
            text-decoration: underline !important;
          }
        }
      }
      
      .bota_login_bg {
        label {
          margin-bottom: 5px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 19px;
          color: #979797;
          display: block;
          span {
              color: #ff0000;
          }
        }
        .bota_rules_type {
          margin-bottom: 20px;
          .custom-checkbox {
            position: relative;
            display: block;
            padding-left: 27px;
            margin: 0;
            line-height: 24px;
            cursor: pointer;
        
            input {
              display: none;
            }
              .icon-rules {
                cursor: pointer;
                display: inline;
          
                &:after {
                  border: 1px solid #cad1d7;
                  transition: all .3s ease;
                  border-radius: .2rem;
                  background-color: #fff;
                  border-color: #BFBFBF;
                }
          
                &:before, &:after {
                  content: '';
                  pointer-events: none;
                  background-color: #fff;
                  box-shadow: none;
                  position: absolute;
                  top: 5px;
                  left: 0rem;
                  display: block;
                  width: 18px;
                  height: 18px;
                }
              }
             
        
            a {
              color: #02897A;
            }
            input:checked ~ .icon-rules:before{z-index:2;background:no-repeat 50%/50% 50%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3E%3C/svg%3E")}
            &:not(.color) input:checked ~ .icon-rules:after {
              background-color: #02897A;
              border-color: #02897A;
            }
          }
        
          position: relative;
        }
      }
      .bota_forgot {
        a {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 19px;
          color: #02897A;
      
          &:hover {
            text-decoration: underline !important;
          }
        }
      
        float: right;
      }
}
.bota_login_forgot_des {
  margin-top: 20px;
  text-align: center;
  color: #979797;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  a {
    color: #02897A;

    &:hover {
      text-decoration: underline !important;
    }
  }
}
.bota_login_secondary {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #979797;
  margin: 25px auto;
  position: relative;
}
.bota_login_secondary {
  &:before {
    content: "";
    background: #C1C1C1;
    width: 100%;
    height: 0.1px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  span {
    background: #fff;
    z-index: 99;
    display: inline-block;
    padding: 0 16px;

    &:after {
      background: #fff;
      content: "Hoáº·c";
      position: absolute;
      width: 71px;
      height: 35px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: auto;
      z-index: 2;
      line-height: 35px;
    }
  }
}
.bota_social_login {
  position: relative;

  a {
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px 16px;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #02897A;
    text-align: center;
    position: relative;

    + a {
      margin-top: 20px;
    }

    svg {
      position: absolute;
      left: 16px;
      transform: translateY(-50%);
      top: 50%;
    }
  }
}
#customer_login,#recover-password,#customer_register {
  input {
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 5px;
    height: 50px;
    padding: 0 14px;
    font-size: 14px;
    outline: none;
    box-shadow: unset;

    &::-webkit-input-placeholder {
      color: #979797;
    }
  }

  .form-group {
    margin-bottom: 20px;
    .bota_form_group_password{
      position: relative;
      .btn-showpassword {
        position: absolute;
        height: 50px;
        width: 40px;
        right: 0;
        text-align: center;
        cursor: pointer;
        top: 0;
        &::before{
          right: 0;
          left: 0;
          transform: translateY(-50%);
          top: 50%;
          margin: auto;
        }
    }
    }
  }

  .bota_login_btn button {
    background: #02897A;
    border-radius: 5px;
    border: none;
    width: 100%;
    color: #fff;
    padding: 15px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    &:hover {
      opacity: .8;
    }
  }
}
#customer_register {
  .bota_login_btn {
    margin-bottom: 15px;
  }
}
.bota_register_bg{
  .bota_social_login a + a {
    margin-top: 15px;
  }
   .bota_login_des{
    margin-bottom: 20px;
  }
  #customer_register .form-group{
    margin-bottom: 15px;
  }
  .bota_login_bg{
    padding: 29px 36px;
  }
}
@media (min-width: 1200px) {
  #customer_login input:focus,#recover-password input:focus,#customer_register input:focus {
    background: rgba(255, 255, 255, 1);
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15);
    box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15);
  }
}