.bota_themes_cv {
    background: #F5FDFB;
    padding: 65px 0 32px;
    .bota_themes_cv_imgs img {
      object-fit: scale-down;
  }
}
.bota_themes_cv_title {
    position: relative;
    margin-bottom: 30px;
  
    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 38px;
      color: #22343D;
      max-width: 380px;
      margin-bottom: 20px;
    }
  }
  
  .bota_themes_cv_des {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: #22343D;
  }
  
  .bota_themes_cv_follow {
    position: relative;
  
    input {
      background: #FFFFFF;
      border: 1px solid #EAEAEA;
      box-sizing: border-box;
      border-radius: 100px;
      height: 66px;
      width: 100%;
      padding: 0 19px !important;
      outline: none;
      padding-right: 125px !important;
    }
  
    .bota_themes_cv_follow_btn {
      background: #02897A;
      border-radius: 100px;
      color: #fff;
      position: absolute;
      top: 50%;
      height: 50px;
      line-height: 50px;
      padding: 0 17px;
      font-weight: bold;
      font-size: 14px;
      transform: translateY(-50%);
      right: 10px;
      cursor: pointer;
    }
  
    form {
      position: relative;
      border-radius: 100px;
    }
  }
  .bota_themes_cv_follows {
    display: flex;
    align-items: center;
    margin-top: 24px;
  
    .bota_themes_cv_follows_col ul {
      display: flex;
  
      li {
        img {
          border: 4px solid #FFFFFF;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
  
        width: 50px;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;
        margin-left: -20px;
  
        &:first-child {
          margin-left: 0;
        }
      }
    }
  
    .bota_themes_cv_follows_des {
      margin-left: 9px;
      font-size: 14px;
      line-height: 19px;
      font-style: normal;
      font-weight: 400;
      color: #22343D;
  
      span {
        color: #02897A;
        font-weight: 500;
      }
    }
  }
  .bota_themes_cv_imgs{
      img{
          margin: auto;
          display: block;
      }
  }
  .bota_themes_cv_hot {
    position: relative;
  }
  
  .bota_themes_cv_hot_title {
    text-align: center;
    margin: 32px auto 29px;
  
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      color: #22343D;
    }
  }
  
  .bota_themes_cv_hot_it {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    position: relative;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    overflow: hidden;
   
    .bota_preview_action {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      a{
        background: #FFFFFF;
        border-radius: 5px;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        padding: 8px 15px;
        max-width: 178px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #22343D;
        -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      transition: all .5s ease;
        &:hover{
          background-color: #02897A;
          color: #fff;
          i{
            &::before{
              background-image: url(../imgs/icon-use-hover.svg);
            }
          }
        }
      }
     
  }
  
  .bota_preview_action i {
      margin-right: 5px;
  }
  
    
    .bota_themes_new {
      background: #4D8DFF;
      border-radius: 50px;
      display: inline-block;
      color: #fff;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      padding: 0px 15px;
      line-height: 23px;
      position: absolute;
      top: 11px;
      left: 11px;
      z-index: 1;
  }
  
    .bota_themes_cv_hot_img {
      background: #FFFFFF;
      height: 289px;
      overflow: hidden;
      position: relative;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .bota_theme_action {
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        height: 0;
        text-align: center;
        -webkit-transition: all .3s ease .15s;
        -moz-transition: all .3s ease .15s;
        -o-transition: all .3s ease .15s;
        -ms-transition: all .3s ease .15s;
        transition: all .3s ease .15s;
      
        &:before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.5);
        }
      }
    }
    &:hover {
      background: #FFFFFF;
      border-color:  #02897A;
      box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      .bota_theme_action {
        height: 100%;
      }
    }
  
    .bota_themes_cv_hot_contx {
      text-align: center;
      padding: 14px 0;
  
      .bota_themes_cv_hot_name {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        overflow: hidden;
  
        a {
          color: #22343D;
        }
      }
    }
  }
  .bota_themes_cv_impressive {
    background: #F5FDFB;
    padding: 42px 0 68px;
    margin-top: 60px;
    .bota_themes_impressive_title {
      position: relative;
      margin-bottom: 63px;
    
      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
      }
    }
    
    .bota_themes_impressive_it {
      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        color: #475E69;
        margin: 0;
      }
    
      position: relative;
      margin-bottom: 30px;
    
      .bota_themes_impressive_des {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 28px;
        color: #475E69;
      }
    }
    .bota_themes_impressive_cont {
      .row {
        align-items: center;
      }
    
      img {
        margin: auto;
        display: block;
        object-fit: scale-down;
      }
    }
   
  }
  
  .bota_theme_professional {
    padding: 80px 0 57px;
    position: relative;
    overflow: hidden;
    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
  
      li {
        line-height: 7px;
        button {
          width: 10px;
          height: 10px;
          background: #E0E0E0;
          padding: 0;
          margin: 0;
          font-size: 0;
          border-radius: 100%;
          border: none;
          box-shadow: unset;
        }
  
        + li {
          margin-left: 15px;
        }
  
        &.slick-active button {
          background: #02897A;
          width: 15px;
          height: 15px;
        }
      }
    }
    .bota_professional_title {
      text-align: center;
      margin-bottom: 31px;
    
      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        color: #22343D;
        margin-bottom: 16px;
      }
    }
    
    .bota_professional_des {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 27px;
      color: #475E69;
    }
  }
  
  