.bota_footer{
    background: #00544B;
    padding: 46px 0 0 0;
    .bota_footer_content {
        position: relative;
      
        a {
          color: #fff;
        }
      
        .bota_footer_logo {
          margin-bottom: 16px;
        }
      
        h3 {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 37px;
          color: #fff;
          margin-bottom: 10px;
        }
      
        ul li {
          color: #fff;
          margin-bottom: 20px;
          position: relative;
          &::after{
              content: "";
              display: block;
              clear: both;
          }
      
          svg {
           
          }
          span {
            float: left;
            width: calc(100% - 30px);
            margin-left: 30px;
            
          }
        
          svg {
            float: left;
            width: 20px;
            display: inline-block;
            position: absolute;
            top: 4px;
          }
        
          span p {
            margin: 0;
          }
        }
      }
      .bota_footer_title {
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 30px;
        color: #fff;
        position: relative;
        padding-bottom: 4px;
        margin-bottom: 13px;
      
        &:after {
          content: "";
          background: #fff;
          width: 67px;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      
      .bota_footer_link ul li a {
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 35px;
        color: #fff;
        &:hover {
            opacity: .7;
        }
      }
      .bota_corner_socails {
        margin-top: 10px;
      
        ul {
          display: flex;
      
          li + li {
            margin-left: 15px;
          }
          li{
              svg{
                -webkit-transition: .5s ease-in-out;
                -moz-transition: .5s ease-in-out;
                -o-transition: .5s ease-in-out;
              }
              &:hover svg{
                transform: translateY(-10px);
              }
          }
        }
      }
      .copyright {
        background: #00453E;
        color: #fff;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        padding: 13px 0;
      
        a {
          color: #fff;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
}